body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* APP */
.app {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  color: #60a5fa;
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar button:hover {
  background: #1f2937;
}

/* MAIN */
.main {
  margin-left: 240px;
  padding: 20px;
  width: 100%;
}

/* TOPBAR */
.topbar {
  background: #1f2937;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: #1f2937;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* BAR */
.bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search {
  display: flex;
  align-items: center;
  background: #1f2937;
  padding: 8px;
  border-radius: 10px;
}

.search input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

/* LIST */
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  background: #1f2937;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

/* PROGRESS */
.progress {
  height: 6px;
  background: #374151;
  border-radius: 10px;
  margin-top: 5px;
}

.progress div {
  height: 100%;
  background: #3b82f6;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.box input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.box button {
  background: #3b82f6;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 8px;
}

/* EMPTY */
.empty {
  padding: 40px;
  text-align: center;
  color: #9ca3af;
}