body {
  background: #0f172a;
  color: white;
  font-family: Arial;
}

.staff-container {
  padding: 20px;
}

.staff-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-btn {
  background: #3b82f6;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.search-box {
  display: flex;
  background: #1f2937;
  padding: 8px;
  border-radius: 10px;
}

.search-box input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
}

/* TABLE */
.table-container {
  background: #1f2937;
  border-radius: 12px;
  padding: 10px;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
}

tr:hover {
  background: #374151;
}

/* ACTIONS */
.actions button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* AVATAR */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.preview {
  width: 60px;
  border-radius: 10px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.box input, .box select {
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.save-btn {
  background: green;
  color: white;
  padding: 10px;
  border: none;
}